Click==7.0
fastapi==0.101.1
httptools==0.0.13
psycopg2-binary==2.8.4
pydantic==2.2.1
SQLAlchemy==1.3.12
starlette==0.27.0
typing==3.7.4.1
uvloop==0.14.0
websockets==8.1
psycopg2==2.9.7
mysql-connector-python
typing-extensions==4.6.1
python-multipart==0.0.6
passlib[bcrypt]
python-jose[cryptography]
authlib==1.2.1
httpx==0.18.2
uvicorn==0.13.3
httpcore==0.13.3
h11
itsdangerous==2.1.2
mysqlclient==2.1.1
PyJWT==2.8.0