@tailwind base;
@tailwind components;
@tailwind utilities;



.image-circle {
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

.image-circle .line {
    width: 100%;
    height: 100%;
    border-top: 5px solid #743ad5;
    border-right: 5px solid #d53a9d;
    border-bottom: 5px solid #d53a9d;
    border-left: 5px solid #743ad5;

    animation: spin 5s infinite linear;
    transform-origin: center center;
}

.image-circle:hover {
    .line {
        animation-play-state: paused;
    }
}


@keyframes spin {
    100% {
        transform: rotate(1turn);
    }
}

.content-editable {
    /* Set your desired maximum width */
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
}